.card {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
  padding: 20px;
  max-width: 500px;
  margin: 20px 0 0 20px;
  overflow: auto;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
