@import url("https://fonts.googleapis.com/css2?family=Diphylleia+One&family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Black+Ops+One&display&family=Dongle&family=Gugi&family=Cute+Font&display=swap");

.info_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  height: 150px;
  margin: 10px 30px 10px 30px;
  transition: transform 0.3s;
  list-style-type: none;
}

.info_card.on {
  background-color: #333;
  color: #f0f0f0;
}

.info_card:hover {
  cursor: pointer;
}

.info_card_one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-top: 30px;
  border-top-style: solid;
  list-style-type: none;
  overflow-y: auto;
}

.info_card_one:first-child {
  margin-top: 0;
}

.card_content {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 150px;
  /* height: 500px; */
}

.info_card_one .card_content {
  width: 100%;
}

/* 마우스 호버시 사라진 글자뜸
.card_content {
  overflow: hidden;
  opacity: 0;
  transform: translateY(1rem);
}

.card_content:hover {
  opacity: 1;
  transform: translateY(0);
}
*/

.card-img-group {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-right: 10px;
  width: 300px;
  height: 90%;
}

.card-img-group img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: rgb(212, 246, 248);
}

.card-content-second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* height: 500px; */
}

.info_card_one .card-content-second {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
}

.card_content h1 {
  font-size: 15px;
  padding: 0 10px 0 10px;
  font-family: "Gugi", serif;
  font-weight: 800;
}

.info_card_one .card_content h1 {
  padding: 0;
  font-size: 35px;
}

.card_content h2 {
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "Cute Font", cursive;
}

.info_card_one .card_content h2 {
  font-size: 30px;
}

.card_content p {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: "Cute Font", cursive;
}

.info_card_one .card_content p {
  font-size: 25px;
}

@media all and (width: 280px) {
  .info_card {
    width: 100%;
    height: 80px;
    margin-left: 0;
    margin-right: 10px;
  }

  .info_card_one .card-content-second {
    height: 300px;
  }

  .card_content h1 {
    font-size: 13px;
    margin: 0;
  }

  .info_card_one .card_content h1 {
    font-size: 25px;
  }

  .info_card_one .card_content h2 {
    font-size: 20px;
  }

  .info_card_one .card_content p {
    font-size: 17px;
  }
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Card-Slider .info_card {
    width: 70px;
    height: 100px;
    margin: 0 10px 10px 10px;
  }

  .info_card_one {
    width: 85%;
    height: 300px;
    padding: 20px 0;
  }

  .Card-Slider .card_content {
    width: 70px;
    height: 100px;
    overflow: visible;
  }

  .info_card.expansion {
    transform: scale(1);
    margin-left: 5%;
  }

  .Card-Slider .card_content h1 {
    font-size: 10px;
    font-family: "Gugi", cursive;
  }

  .card_content h2 {
    font-size: 35px;
    font-family: "Dongle", sans-serif;
  }

  .card_content p {
    font-size: 32px;
    font-family: "Dongle", sans-serif;
    height: 500px;
  }

  .info_card_one .card_content h1 {
    font-size: 25px;
  }

  .info_card_one .card_content h2 {
    font-size: 20px;
  }

  .info_card_one .card_content p {
    font-size: 15px;
  }
}

@media all and (min-width: 450px) and (max-width: 1023px) {
  .info_card {
    height: 150px;
  }

  .card_content {
    height: 700px;
  }

  .card-content-second {
    height: 700px;
  }
}
