.info_container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.info_container_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slick-slider {
  width: 100%;
}

.info_container .slick-dots {
  bottom: -35px;
}

.Card-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 432px) {
  .info_container {
    width: 80%;
  }

  .info_container .slick-dots {
    bottom: -45px;
  }
}
