.info_container {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0;
}

.info_container_one {
  padding-left: 0;
  padding-bottom: 20px;
  margin: 0;
  overflow-y: auto;
}

.slick-slider {
  width: 100%;
}

.info_container .slick-prev:before,
.info_container .slick-next:before {
  color: black;
}

.Card {
  width: 100%;
}

.Card-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Card-big {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.Card-big h1 {
  font-size: 60px;
}

.Card-big .card_content {
  width: 100%;
  height: 400px;
}

.Card-big .card-content-second {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.Card-Slider-Box {
  display: flex;
  width: 100%;
  overflow-x: auto;
  height: 200px;
}

.Card-Slider {
  display: flex;
}

@media all and (width: 280px) {
  .info_container {
    width: 100%;
  }

  .Card-Slider {
    align-items: center;
  }

  .Card-big,
  .Card-big .card_content,
  .Card-big .card_content .card-content-second {
    height: 300px;
  }

  .Card-big .card-content-second h1 {
    font-size: 20px;
  }

  .Card-big .card-content-second h2 {
    font-size: 15px;
    margin-top: 15px;
    padding: 0;
  }

  .Card-big .card-content-second p {
    font-size: 15px;
  }

  .Card-Slider-Box {
    height: 130px;
  }
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .info_container {
    width: 80%;
  }

  .info_container_one {
    padding: 0 20px 100px 20px;
    margin: 0 10px;
  }

  .Card-big,
  .Card-big .card_content,
  .Card-big .card_content .card-content-second {
    height: 300px;
  }

  .Card-big h1 {
    font-size: 30px;
  }

  .Card-big h2 {
    font-size: 20px;
  }

  .Card-big p {
    font-size: 15px;
  }

  .Card-Slider-Box {
    height: 100px;
  }
}
