.AnimationListItem {
  display: flex;
  padding: 10px;
  align-items: center;
}

.AnimationListItem h1 {
  font-size: 25px;
}

.AnimationListItem h2 {
  font-size: 15px;
  margin-left: 5px;
}

.AnimationListItem h3 {
  font-size: 5px;
  margin-left: 5px;
}

.AnimationListItem p {
  display: block;
  overflow: hidden;
  margin-left: 5px;
}
