@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: "Bebas Neue", cursive;
}

.dark-mode {
  background-color: #1c3a34;
  color: #a6adab;
}

.light-mode {
  background-color: #f4e5dd;
  color: #10100f;
}
