.under_sentence {
  display: flex;
  height: 50px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.under_sentence p {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

@media all and (width: 280px) {
  .under_sentence p {
    font-size: 10px;
  }
}
