.Since-Container {
  position: relative;
}

.List-Box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.List-Container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 90%;
  padding: 80px 0 10px 0;
}

/*
.List-Box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #eee;
  z-index: 2;
}*/

.button-wrapper {
  position: relative;
  z-index: 3;
}

/*더보기------*/
.Full-view {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 35px;
  height: 35px;
}

.View-only-one {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 35px;
  height: 35px;
}

.More-Arrow {
  position: fixed;
  right: 25px;
  bottom: 60px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(242, 242, 243, 0.5);
  border-style: none;
  z-index: 3;
}

.More-Arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.plusbutton {
  border: 1px solid black;
  border-radius: 10px;
  justify-content: flex-end;
  position: fixed;
  right: 25px;
  width: 30px;
  height: 30px;
  bottom: 100px;
  cursor: pointer;
}

.plusbutton:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 432px) {
  .List-Container {
    width: 100%;
  }

  .plusbutton:hover {
    background-color: none;
  }
}
