.list-container {
  position: relative;
  border: 1px solid none;
  background-color: skyblue;
}

.load-more {
  position: fixed;
  bottom: 50px;
  right: 10px;
  padding: 10px;
  color: black;
  border-style: solid;
  z-index: 999;
}

.load-more button {
  border: none;
  background-color: #eee;
  padding: 10px 20px;
  cursor: pointer;
}

.load-more button:hover {
  background-color: #ddd;
}
