@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Black+Ops+One&display=swap");

.navbar-drop {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  top: 10px;
  left: 10px;
  z-index: 4;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.dropdown-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.dropdown-button.rotated {
  transform: rotate(-180deg);
}

.dropdown-button svg {
  width: 50px;
  height: 50px;
}

@media all and (width: 280px) {
  .dropdown-button svg {
    width: 50px;
    height: 50px;
  }
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .navbar-drop {
    width: 25%;
  }

  .dropdown-button svg {
    width: 60px;
    height: 60px;
  }
}
