.scrollbutton {
  justify-content: flex-end;
  position: fixed;
  right: 10px;
  width: 30px;
  height: 30px;
  bottom: 55px;
  color: white;
  border-style: none;
}

.arrowIcon {
  width: 30px;
  height: 30px;
}
