@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dongle:wght@300&display=swap");

.SearchBar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1600px;
  height: 1500px;
  overflow: auto;
}

.Searchbar {
  position: relative;
  text-align: center;
  width: 100%;
  height: 65px;
  border: 3px solid #0c0b0b;
  border-radius: 20px;
  top: 20px;
}

.Searchbar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-bottom: 2px solid black; */
  width: 100%;
  border-radius: 20px;
}

.Search-container form:focus-within {
  outline: 2px solid #6c63ff;
}

.Search-input-container {
  display: flex;
  /* position: absolute;
  right: 0; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 20px;
}

.Search-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Search-input {
  border-style: none;
  width: 90%;
  height: 50px;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
}

.Search-input:focus {
  outline: none;
}

.Search-input::placeholder {
  color: gray;
}

.Search-input.clicked {
  border: 3px dotted rgb(5, 102, 20);
  border-radius: 10px;
}

.Search-ResetButton {
  margin-left: 10px;
}

.Search-ResetButton,
.Search-SubmitButton {
  display: flex;
  border-style: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.Search-ResetButton i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-ResetButton svg {
  width: 28px;
  height: 28px;
}

.Search-SubmitButton svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.Suggestion_title {
  position: relative;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 8px;
  margin-top: 10px;
  /* border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none; */
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  z-index: 1;
}

.Suggestion_title li {
  text-align: left;
  padding: 4px;
  cursor: pointer;
}

.Suggestion_title li:hover {
  background-color: #f0f0f0;
}

.Searchcard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.Searchcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0;
  margin-bottom: 3rem;
  padding: 15px;
  /* transform: translate(-50%, -50%) scale(0.8); */
  width: 80%;
  height: 650px;
  border-radius: 10px;
  background-image: url("../image/background_image_2.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  animation: zoom-in 0.3s forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.Searchcard h4 {
  margin-bottom: 5%;
  font-family: "Bagel Fat One", cursive;
  font-size: 3rem;
}

.Searchcard h5 {
  font-size: 2rem;
  margin-bottom: 3%;
}

.Searchcard p {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  text-indent: 20px;
}

@media all and (width: 280px) {
  .SearchBar-container {
    width: 280px;
  }

  .Search-input-container {
    width: 80%;
  }

  .Search-input-container input {
    font-size: 15px;
    text-indent: 5px;
  }

  .Search-ResetButton {
    padding: 0;
  }

  .Search-ResetButton svg {
    width: 15px;
    height: 15px;
  }

  .Search-SubmitButton svg {
    width: 17px;
    height: 17px;
  }

  .Searchcard {
    width: 75%;
    height: 450px;
    box-shadow: 5px 3px 3px gray;
  }

  .Searchcard h4 {
    font-size: 20px;
  }

  .Searchcard h5 {
    font-size: 13px;
  }

  .Searchcard p {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .SearchBar-container {
    width: 390px;
    height: 1000px;
  }

  .Searchbar {
    width: 98%;
    top: 80px;
  }

  .Search-input-container {
    width: 100%;
  }

  .Search-input-container input {
    font-size: 15px;
    text-indent: 5px;
  }

  .Search-input {
    width: 65%;
  }

  .Search-ResetButton {
    padding: 0;
  }

  .Searchcard {
    width: 75%;
    height: 350px;
    box-shadow: 5px 3px 3px gray;
  }

  .Searchcard h4 {
    font-size: 20px;
  }

  .Searchcard h5 {
    font-size: 13px;
  }

  .Searchcard p {
    font-size: 15px;
  }
}
